body {
    background-color: rgb(240, 226, 226); /* MUDAR O FUNDO DA PÁGINA*/
    margin: 0;
}

* {
    box-sizing: border-box; /*RESPEITE A LARGURA E ALTURA QUE VOCÊ DEFINE*/
}

nav {
    text-align: center; /* ALINHA O TEXTO*/
    margin: 0; /*CRIA UM ESPAÇO EXTERNO*/
    padding: 1%; /*CRIA UM ESPAÇO INTERNO*/
    background-color: rgb(238, 159, 225);
}

nav a {
    text-decoration: none; /*SERVE PARA TIRAR EFEITOS VISUAIS DO TEXTO*/
    margin: 2%;
    text-align: justify;
}

.criador {
    text-align: center;
    color: rgb(33, 35, 148); 
    
}

.rodape {
    margin: 1%;
}

.coluna-50 {
    float: left; /*ORGANIZAR A COLUNA DA PÁGINA*/
    width: 50%; /*DEFINE A LARGURA*/
    padding: 15px;
}

.p {
    text-align: center;
    margin-top: auto;
}

.coluna-center {
    float: center;
    width: 50%;
    padding: 15px;
}

.title {
    font-size: 80%;
    text-align: center;
}

#img_redonda {
    border-radius: 50%;
    border: 5px solid rgb(238, 159, 225);
}

.sobre {
    display: flex; /*USADO PARA PREENCHER ESPAÇO DISPONÍVEL*/
    justify-content: center;
}

h2 {
    text-align: center;
}

