

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(206, 184, 164);
    display:flex;
    justify-content: center;
    padding: 1%;
}

.border {
    border: 2px solid black;
   padding: 5%;  
}

.info {
    text-align: center;
}

